.label-description{
    width:110px;
    margin-bottom: 0;
}
.new-customer-form-field{
    width: 100%;
    padding-left:10px;
    @media(max-width:767px){
        padding-left:0px;
    }
}

.element-form{
    display: center;
    align-items:center;
    @media(max-width){
        flex-direction:column;
        align-items:baseline;
    }

}